@import 'common.less';

@keyframes scroll-scale-bg-w {
  0% {background-size: 100% auto;}
  100% {background-size: 125% auto;}
}

@keyframes scroll-scale-bg-h {
  0% {background-size: auto 100%;}
  100% {background-size: auto 125%;}
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    header .header-image {
      &.background-size-w, &.background-size-h {
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-timeline: view(y);
        animation-range: exit;
      }

      &.background-size-w {
        animation-name: scroll-scale-bg-w;
      }

      &.background-size-h {
        animation-name: scroll-scale-bg-h;
      }
    }

    footer {
      &.background-size-w, &.background-size-h {
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-direction: reverse;
        animation-timeline: view(y);
        animation-range: enter;
      }

      &.background-size-w {
        animation-name: scroll-scale-bg-w;
      }

      &.background-size-h {
        animation-name: scroll-scale-bg-h;
      }
    }
  }
}
