//* Text
@text-s: 0; //? 0 - 10

@text-dark-l: 6; //? 0 - 40
@text-light-l: 100; //? 60 - 100

//* Link
@link-dark-h: 204; //? 180 - 260
@link-dark-s: 77; //? 15 - 100
@link-dark-l: 45; //? 0 - 49

@link-light-h: 197; //? 180 - 260
@link-light-s: 81; //? 15 - 100
@link-light-l: 58; //? 50 - 100

//* Heading
@heading-dark: auto;
@heading-light: auto;

@strongheading-dark: auto;
@strongheading-light: auto;

//* Shadow
@shadow-dark: hsla(0, 0, 0, 0.5);
@shadow-light: hsla(0, 0, 29, 0.5);

@textshadow-dark: hsla(0, 0, 0, 0.25);
@textshadow-light: hsla(0, 0, 29, 0.25);

//* Colors
@primary-h: 192;
@primary-s: 100; //? 15 - 100
@primary-v: 80;
@primary-v-dark: 60; //? 0 - 65

@accent-h: 130; //? more than 20 away from primary
@accent-s: 90; //? 15 - 100
@accent-v: 72;
@accent-v-dark: 52; //? 0 - 65

@warn-h: 0; //? red: 0 - 64 or 264 - 360, and more than 20 away from primary and accent
@warn-s: 85; //? 15 - 100
@warn-v: 80;
@warn-v-dark: 60; //? 0 - 65

//* Background Colors
@dark-s: 0; //? 0 - 15
@light-s: 0; //? 0 - 15

//* Elements
@base-s: 0;
@base-fg: auto; //? auto | text

@page-s: 0;
@page-fg: auto; //? auto | text

@card-s: 0;
@card-fg: auto; //? auto | text

@header-s: 0;
@header-fg: text; //? auto | text

@headerimg-s: 0;
@headerimg-fg: auto; //? auto | text

@footer-s: 0;
@footer-fg: auto; //? auto | text

@copyright-s: 0;
@copyright-fg: text; //? auto | text


//! Light Theme
@dark-v: 17; //? 0 - 49
@light-v: 94; //? 50 - 100

//* Elements
@base-v: 10;
@page-v: 0;
@card-v: 0;
@header-v: 0;
@headerimg-v: 0;
@footer-v: 0;
@copyright-v: 0;


//! Dark Theme
@DARK_dark-v: 17; //? 0 - 49
@DARK_light-v: 94; //? 0 - 49

//* Elements
@DARK_base-v: 10; //? 0 - 49
@DARK_page-v: 0; //? 0 - 49
@DARK_card-v: 0; //? 0 - 49
@DARK_header-v: 0; //? 0 - 49
@DARK_headerimg-v: 0; //? 0 - 49
@DARK_footer-v: 0; //? 0 - 49
@DARK_copyright-v: 0; //? 0 - 49


//! Other Settings

//* Images
@base-img: url('/assets/background/beach.480p.webp');
@base-img-size: cover; //? cover | contain
@base-img-pos: center; //? center | top | bottom | left | right
@base-img-att: fixed; //? fixed | scroll

@page-img: none;
@page-img-size: cover; //? cover | contain
@page-img-pos: center; //? center | top | bottom | left | right
@page-img-att: fixed; //? fixed | scroll

@card-img: none;
@card-img-size: cover; //? cover | contain
@card-img-pos: center; //? center | top | bottom | left | right
@card-img-att: fixed; //? fixed | scroll

@header-img: none;
@header-img-size: cover; //? cover | contain
@header-img-pos: center; //? center | top | bottom | left | right
@header-img-att: fixed; //? fixed | scroll

@headerimg-img: url('/assets/background/sunset.480p.webp');
@headerimg-img-size: cover; //? cover | contain
@headerimg-img-pos: center; //? center | top | bottom | left | right
@headerimg-img-att: fixed; //? fixed | scroll

@footer-img: url('/assets/background/wave.webp');
@footer-img-size: cover; //? cover | contain
@footer-img-pos: center; //? center | top | bottom | left | right
@footer-img-att: fixed; //? fixed | scroll

@copyright-img: none;
@copyright-img-size: cover; //? cover | contain
@copyright-img-pos: center; //? center | top | bottom | left | right
@copyright-img-att: fixed; //? fixed | scroll
